@charset "UTF-8";

body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

h2 {
    text-align: center;
    background-color: yellow;
    padding: 20px;
}

.battle-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.pokemon-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: auto; 
    max-height: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

.allypokemon{
	width: 150%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}
.allypokemon .name{
	width: 10%;
}
.allypokemon .stats{
	width: 35px;
}
.allypokemon .select{
	width: 20px;
}

.enemypokemon{
	width: 150%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}
.enemypokemon .name{
	width: 10%;
}
.enemypokemon .stats{
	width: 35px;
}
.enemypokemon .select{
	width: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}
.stats{
	width: 3%;
}
select{
	width: 30px;
}
button {
    padding: 8px 16px;
    margin-top: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #66bb6a;
}

.home {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}

.ally, .enemy {
    order: 1;
}
