@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 画面全体の高さを占めるように設定 */
}

h2 {
    text-align: center;
    background-color: yellow;
    padding: 20px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Alternating row colors for better readability */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* リンクをページの一番下に配置 */
.home{
    margin-top: auto;
    text-align: center;
    padding: 20px;
}
